/* Build a box */
/*  Step box  */
  .bxp-bldr-row.bxp-step-box.bxp-flex{
    padding: 0;
    border: 1px solid rgba(202,202,202,1);
  }
  .bxp-bldr-row.bxp-step-box.bxp-flex>div{
    padding: 20px;
  }
  .bxp-bldr-row.bxp-step-box.bxp-flex .bxp-bldr-col-lg-4{
    border-left: 1px solid rgba(202,202,202,1);
  }
  .bxp-bldr-row.bxp-step-box.bxp-flex .bxp-reset{
    margin-top: -12px;
  }
  .bxp-summary-container{
    border: 1px solid #ddd;
  }

/* Detail box */
  .bxp-bldr-step #bxp-bldr-order_details, .bxp-bldr-step #bxp-bldr-price_total{
    padding: 15px 0 15px 0;
  }
  .bxp-step-box .bxp-bldr-col-lg-4{
    text-align: center;
  }
  .bxp-step-box #bxp-bldr-order_details h4{
    text-align: center;
    font-size: 1.5rem;
  }
  .bxp-bldr-step #bxp-bldr-price_total{
    float: none;    
  }
  .bxp-bldr-step #bxp-bldr-order_details{
    display: block;
    position: initial;
    -webkit-box-shadow: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    text-align: left;
  }
  .bxp-bldr-wizard-step .bxp-step-box-list{
    display: none;
  }
  .bxp-bldr-item label strong{
    text-transform: none !important;
  }
  .bxp-bldr-item label{
    border: none !important;
  }
  span.bxp-details-price{
    width: 20%;
    float: right;
    text-align: right;
  }

/* Filters */
  .bxp-step-content .bxp-filt-sort{
    margin-top: 25px;
  }

  .bxp-step-content .bxp-filt-sort .bxp-bldr-item{
    min-height: 100%;
    padding: 5px;
    border: 1px solid rgba(202,202,202,1);
    border-radius: 5px;
    margin-top: 0;
  }
  .bxp-bldr-item label strong{
    min-height: 60px;
  }
  .bxp-styled-select{
    overflow: inherit !important;  
    height: auto !important;
  }
  .bxp-bldr-form-control{
    height: auto !important;
  }
  button.bxp-bldr-forward.predefined-btn{
    background: rgba(28,213,193,1);
  }    

/* Collection page */
  .grid-product__image-wrap{
    background: #f1f1f1;
  }

/* Main nav */
a.site-nav__link.book-a-meeting{
  border: 2px solid #18c9c9;
  border-radius: 10px;
  color: #18c9c9;
}
.header-item{
  max-width: 1000px;
}

/* Shipping Estimate */
#shipping-calculator {
  margin-bottom: 20px;
}
button.estimate-shipping-btn.btn.btn--secondary {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    margin: 15px 0;
    gap: 10px;
}
span.se-btn-icon {
    height: 20px;
    transition: transform 0.3s;
}
.se-btn-icon svg {
    width: 12px;
    height: 12px;
}
.estimate-shipping-btn.open .se-btn-icon {
  transform: rotate(180deg);
}
#shipping-calculator select, #shipping-calculator input {
    width: 100%;
    border: 1px solid;
    height: 40px;
}
input.get-rates.btn.button {
    background-color: #000;
    width: auto !important;
    height: auto !important;
}
div#wrapper-response {
    margin-top: 10px;
}
p#shipping-rates-feedback.success {
    font-size: 18px;
    margin-bottom: 5px;
}
span.shipping-rate-title {
    font-weight: 600;
}
span.shipping-price {
    font-weight: 900;
}
.shipping-rates-list li {
    font-size: 16px;
}
/*Gift Box css  */
.make-gift-box{
  margin:0 40px;
}
.d-flex{
  display:flex;
  align-items:center;
  gap:40px;
}
.file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 20px;
}

/* .file-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
} */

.file-input .button {
  display: inline-block;
  padding: 8px 20px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.file-input .button:hover {
  background-color: #45a049;
}

.file-input .file-label {
    display: inline-block;
    padding: 14px 30px 8px;
    background-color: transparent;
    border-radius: 0px;
    height: 46px;
    margin: 0;
    margin-top: 10px;
    border: 1px solid #000;
    color: #000;
    cursor:pointer;
}

.file-input .file-label::after {
  content: attr(data-text);
}

.file-input input[type="file"]:focus + .file-label {
  outline: 2px solid #4CAF50;
}
.giftBox {
  margin-bottom: 10px;
  display: flex;
}
.giftBoxName{
    border: 1px solid;
    padding: 8px 70px;
    background: #000;
    color: #fff;
    font-weight: 700;
}
.removeGiftBox {
  cursor: pointer;
  color: red;
  font-weight: bold;
  margin-left: 10px;
}
.buttonContainer span{
        cursor: pointer;
    font-weight: 700;
    margin-left: 10px;
    width: 33px;
    display: inline-block;
    font-size: 29px;
    height: 37px;
    text-align: center;
    padding-top: 7px;
    color: #fff;
    border-radius: 2px;
}

.removeGiftBox{
    background-color: red;
}
.addGiftBox{
  background-color: green;
}
.gift-product{
  width: 50%;
}
.cart__page-col .cart__item{
  flex-wrap:wrap;
}
.file-form{
  display:none;
  position:absolute;
}
.file-input button, #download-template {
    border: 1px solid #000;
    padding: 8px 30px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-top: 20px;
    color: black;
    text-align: center;
}

#giftBoxContainer .giftBox:not(.last) .buttonContainer{
  display:none;
}
#remove-file{
  display: inline-block;
  margin-left: 20px;
  color: red;
  font-size: 18px;
  vertical-align: bottom;
  font-weight: 700;
  cursor: pointer;
}

.upload-wrap{
  position: relative;
  z-index: 5;
}

.file-form{
    padding: 10px;
    border: 1px solid #f1f1f1;
    margin-top: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    background: white;
}
.file-form .loading-animation-wrap{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(130,130,130, .2);
  z-index: 999999;
  display: none;
}
.file-form .loading-animation-wrap svg{
  width: 100px;
  height: 100%;
  background: transparent !important;
}
#birdieBox-popup + .d-flex{
  flex-wrap: wrap;
}
#birdieBox-popup + .d-flex .make-gift-box{
  margin:0px;
}

.file-btn-wrapper{
  display: flex;
  flex-direction: column;
}

.cart-action-wrapper{

  margin-top: 32px;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.show-file-upload-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-action-wrapper > div,
.file-btn-wrapper a,
.cart-action-wrapper > div button,
#upload-input,
.file-input{
  width: 100%;
}

#giftBox1{
  margin-top: 32px;
}


@media screen and (min-width: 769px){
  .cart-action-wrapper > div button:not(#upload-button):not(#showfilebtn),
  .file-form,
  .show-file-upload-btn
  {
    width: 50%;
  }  
 
}

.upload-wrap{
/*   visibility: hidden !important; */
}

@media screen and (min-width: 1024px){
  .cart-action-wrapper{
    flex-direction: row;
    justify-content: space-between;
  }

  .cart-action-wrapper > div{
    width: 30%;
  }

  .file-btn-wrapper a,
  .cart-action-wrapper > div button,
  #upload-input,
  .show-file-upload-btn,
  .file-form{
    width: 100% !important;
  }
}

@media screen and (min-width: 1366px){

    .cart-action-wrapper > div{
      width: 25%;
    }

    .cart-action-wrapper{
      justify-content: flex-start;
    }
}




