/* Build a box */
/*  Step box  */
  .bxp-bldr-row.bxp-step-box.bxp-flex{
    padding: 0;
    border: 1px solid rgba(202,202,202,1);
  }
  .bxp-bldr-row.bxp-step-box.bxp-flex>div{
    padding: 20px;
  }
  .bxp-bldr-row.bxp-step-box.bxp-flex .bxp-bldr-col-lg-4{
    border-left: 1px solid rgba(202,202,202,1);
  }
  .bxp-bldr-row.bxp-step-box.bxp-flex .bxp-reset{
    margin-top: -12px;
  }
  .bxp-summary-container{
    border: 1px solid #ddd;
  }

/* Detail box */
  .bxp-bldr-step #bxp-bldr-order_details, .bxp-bldr-step #bxp-bldr-price_total{
    padding: 15px 0 15px 0;
  }
  .bxp-step-box .bxp-bldr-col-lg-4{
    text-align: center;
  }
  .bxp-step-box #bxp-bldr-order_details h4{
    text-align: center;
    font-size: 1.5rem;
  }
  .bxp-bldr-step #bxp-bldr-price_total{
    float: none;    
  }
  .bxp-bldr-step #bxp-bldr-order_details{
    display: block;
    position: initial;
    -webkit-box-shadow: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    text-align: left;
  }
  .bxp-bldr-wizard-step .bxp-step-box-list{
    display: none;
  }
  .bxp-bldr-item label strong{
    text-transform: none !important;
  }
  .bxp-bldr-item label{
    border: none !important;
  }
  span.bxp-details-price{
    width: 20%;
    float: right;
    text-align: right;
  }

/* Filters */
  .bxp-step-content .bxp-filt-sort{
    margin-top: 25px;
  }

  .bxp-step-content .bxp-filt-sort .bxp-bldr-item{
    min-height: 100%;
    padding: 5px;
    border: 1px solid rgba(202,202,202,1);
    border-radius: 5px;
    margin-top: 0;
  }
  .bxp-bldr-item label strong{
    min-height: 60px;
  }
  .bxp-styled-select{
    overflow: inherit !important;  
    height: auto !important;
  }
  .bxp-bldr-form-control{
    height: auto !important;
  }
  button.bxp-bldr-forward.predefined-btn{
    background: rgba(28,213,193,1);
  }    

/* Collection page */
  .grid-product__image-wrap{
    background: #f1f1f1;
  }

/* Main nav */
a.site-nav__link.book-a-meeting{
  border: 2px solid #18c9c9;
  border-radius: 10px;
  color: #18c9c9;
}
.header-item{
  max-width: 1000px;
}