<button class="product-images-zoom-trigger" title="Zoom" aria-label="Zoom" data-product-images-zoom-trigger="0">
  <span aria-hidden="true">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_3418_793)">
        <path d="M7 13C10.3137 13 13 10.3137 13 7C13 3.68629 10.3137 1 7 1C3.68629 1 1 3.68629 1 7C1 10.3137 3.68629 13 7 13Z" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M14.334 14.3335L11.334 11.3335" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
        <path d="M7.12 5.50012V8.74012" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
        <path d="M8.74 7.12012H5.5" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
      </g>
      <defs>
        <clipPath id="clip0_3418_793">
          <rect width="16" height="16" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
   </span>
</button>

<style>
  .product-images-zoom-trigger {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1000;
  }
  .product-images-zoom-trigger span {
    display: flex;
  }
  .product-images-zoom-trigger svg {
    width: 16px;
    height: 16px;
  }
</style>