 <div class="page-width page-width--narrow page-content">
   <header class="section-header">
    <h1 class="section-header__title">
      <center> {{ page.title | escape }} </center>
    </h1>
  </header>
  
  {{page.content}}